body{
    background-color: #004643;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: #fffffe;
    font-family: 'EB Garamond', serif;
}

p{
    color: #abd1c6;
    font-family: 'EB Garamond', serif;
    padding: 0px;
    margin: 0px;
    max-width: 500px;
}

h1{
    color: #fffffe;
    font-size: 5vh;
    font-family: 'EB Garamond', serif;
    font-weight: lighter;
    margin-top: 0vh;
    margin-bottom: 0vh;
    
}


#headderSection{
    min-height: 80vh;
}
#photosSection{
    min-height: 80vh;
}

#writingSection{
    min-height: 60vh;
    text-align: left;
    text-indent: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

#linksSection{
    min-height: 50vh;
}

#footerSection{
    min-height: 5vh;
    background-color: #abd1c6;
    margin-top: 10vh;
}

#mailSection{
    min-height: 50vh;
}

section{
    display: grid;
    place-items: center;
    align-content: center;
    /* min-height: 75vh; */
    color: white;
    text-align: center;
}

.sectionScroll{
    display: flex;
    place-items: center;
    align-content: center;
    color: white;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.photos {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.photos div{
    scroll-snap-align: center;
}

@media (max-width: 1000px) {
    .photos img {
        width: 90vw;
        padding: 5px; /* Adjust padding for smaller screens if needed */
    }
    #linkPic{
        width: 60vw;
        padding: 0px;
        margin: 0;
    }
   
}


.photos img{
    max-width: 500px;
    padding: 10px;
}



#linkPic{
    max-width: 300px;
    border-radius: 50px;
    border: rgba(255, 255, 255, 0) solid 10px;
}

#linkPic:hover{
    border: #fffffe solid 10px;
}

.sign{
    font-family: 'Courier New', Courier, monospace;
}
.sign2{
    font-family: 'Caveat', cursive;
}